*
	box-sizing: border-box

html,
body
	height: 100%

body
	margin: 0
	background-color: #0e0e0e
	font-family: sans-serif
	text-rendering: optimizeLegibility
	-moz-osx-font-smoothing: grayscale
	-webkit-font-smoothing: antialiased

.container
	display: flex
	align-items: center
	justify-content: center
	padding: 1rem

.screen-reader-text
	position: absolute
	width: 1px
	height: 1px
	padding: 0
	margin: -1px
	overflow: hidden
	clip: rect(0, 0, 0, 0)
	white-space: nowrap
	border: 0

.player-stats-card
	width: 300px
	background-color: #fff

.player-stats-card__dropdown
	padding: .875rem 1rem

.player-stats-card__select
	width: 100%
	padding: .75rem .875rem
	border: none
	background-color: #eaeaea
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e")
	background-repeat: no-repeat
	background-position: right .75rem center
	background-size: 1rem .75rem
	font-size: 1rem
	line-height: 1
	-webkit-appearance: none
	appearance: none

.player-stats-card__portrait
	padding: 1rem 1rem 0 1rem
	margin: 0
	background-image: url(../images/bg-pattern.png)
	background-repeat: no-repeat
	background-position: right center
	background-size: 244px 214px

.player-stats-card__image
	display: block

.player-stats-card__content
	position: relative
	padding: 1rem
	background-color: #e90052
	color: #fff
	font-size: 1rem

.player-stats-card__club
	position: absolute
	top: -2.25rem
	right: 1.25rem
	width: 5.125rem
	height: 5.125rem
	border-radius: 50%
	background-color: #fff
	overflow: hidden

.player-stats-card__club-badge
	position: absolute
	top: 5px
	left: 5px
	right: 5px
	bottom: 5px
	background-image: url(../images/badges_sprite.png)
	background-repeat: no-repeat
	background-position: right center
	background-size: 864px 792px

	&--1
		background-position: 9.1% 10%

	&--11
		background-position: 72.7% 70%

	&--12
		background-position: 54.5% 80%

	&--21
		background-position: 45.5% 100%

	&--26
		background-position: 0 0

.player-stats-card__title
	min-height: 1.5rem
	margin: 0 0 .5rem
	font-size: 1.375rem
	font-weight: 400
	line-height: 1.5rem

.player-stats-card__position
	min-height: 1rem
	line-height: 1

.player-stats-card__stats
	list-style: none
	padding: 0
	margin: 1rem 0 0

.player-stats-card__stat
	display: flex
	min-height: 2.5rem
	padding: .75rem .5rem
	box-shadow: 0 0 .5rem rgba(56, 0, 60, .25)
	color: #38003c
	background-color: #eaeaea
	line-height: 1

	& + .player-stats-card__stat
		margin-top: .125rem

.player-stats-card__stat-title
	margin-right: .25rem

.player-stats-card__stat-value
	margin-left: auto
